
<form class="form" id="loginForm">
    <p class="title-Form" >Login </p>
      
    <label>
        <input class="input" type="email" name="email" placeholder="" required="">
        <span>Email</span>
    </label> 
        
    <label>
        <input class="input" type="password" name="password" placeholder="" required="">
        <span>Password</span>
    </label>
    <button class="submit" type="submit">Submit</button>
    <p class="signin">Don`t you have an account? <a href="api/users/register">Register</a> </p>
    <p class="signin">Did you forget your password? <a href="api/users/process-to-reset-password">Restablecer contraseña</a> </p>
</form>

<script src="/js/login.js"></script>