<div>
    <div class="container">
        <div class="card">
            <div id="formularioAgregarProducto">
                <a class="singup">AGREGAR PRODUCTO</a>
                <div class="inputBox1">
                    <input type="text" id="code" name="code" required="required">
                    <span class="user">Code</span>
                </div>
                <div class="inputBox">
                    <input type="text" id="title" name="title" required="required">
                    <span class="user">Title</span>
                </div>
                <div class="inputBox">
                    <input type="text" id="price" name="price" required="required">
                    <span class="user">Price</span>
                </div>
                <div class="inputBox">
                    <input type="text" id="category" name="category" required="required">
                    <span class="user">Category</span>
                </div>
                <div class="inputBox">
                    <input type="text" id="stock" name="stock" required="required">
                    <span class="user">Stock</span>
                </div>
                <div class="inputBox">
                    <input type="text" id="description" name="description" required="required">
                    <span class="user">Description</span>
                </div>


                <button class="enter" type="submit" id="AgregarProductos">Agregar</button>
            </div>
            <div id="formularioEliminarProductos">
                <a class="singup">ELIMINAR PRODUCTO</a>
                <div class="inputBox1">
                    <input type="text" id="codeToDelete" name="codeToDelete" required="required">
                    <span class="user">Code</span>
                    <button class="enter" type="submit" id="EliminarProductos">Eliminar</button>
                </div>
            </div>
        </div>
    </div>
    <script src="/js/products.js"></script>
</div>