<div>
    <form class="form" id="registerForm">
        <p class="title-Form">Register</p>
        <div class="flex">
            <label>
                <input class="input" type="text" placeholder="" name="first_name" required="">
                <span>Firstname</span>
            </label>

            <label>
                <input class="input" type="text" placeholder="" name="last_name" required="">
                <span>Lastname</span>
            </label>
        </div>

        <label>
            <input class="input" type="email" placeholder="" name="email" required="">
            <span>Email</span>
        </label>

        <label>
            <input class="input" type="age" placeholder="" name="age" required="">
            <span>Edad</span>
        </label>

        <label>
            <input class="input" type="password" placeholder="" name="password" required="">
            <span>Password</span>
        </label>

        <button class="submit" type="submit">Submit</button>

        <p class="signin">Already have an acount ? <a href="/">Signin</a> </p>
    </form>
</div>
<script src="/js/register.js"></script>